@import "../../../sass/main.scss";

.wrapper {
  display: flex;
  flex-direction: column;  
  padding: 16px;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;

  @include mq(tablet) {
    width: 320px;
    align-items: flex-start;
  }
  @include mq(desktop) {
    width: 400px;
   
  }
}

.form_title {
  margin: 0;
  font-family: var(--second-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  // text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--button-orange-color);
  margin-bottom: 60px;
}

.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
 
}

.inputs_wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 100%;
  @include mq(tablet) {    
    align-items: start;
  }
}

.btn_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 45px;

  @include mq(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.input {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;  
  height: 35px;
  border: none;
}

.label {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  margin-top: 5px;
  color: var(--font-grey-color);
}

.button {
  margin: 0;
  padding: 0;
  width: 176px;
  height: 44px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--button-orange-color);
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border: 2px solid var(--button-orange-color);
  border-radius: 30px;
  cursor: pointer;
}

.button:first-child {
  margin-bottom: 20px;
  @include mq(tablet) {
    margin-bottom: 0;
  }
}

.button:active,
.button:focus {
  outline: none;
  background: #ffffff;
  color: var(--button-orange-color);
  box-sizing: border-box;
  box-shadow: none;
}

.input_alert {
  min-height: 15px;
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  // font-weight: bold;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: red;
}

.error_message {
  color: red;
}

.confirm_message {
  color: rgb(0, 58, 0);
}

.modal_btn_wrapper {
  padding-top: 30px; 
}

.button:first-child {
    margin-right: 0;
    @include mq(tablet) {
    margin-right: 30px;
  }
}

