@import '../../../sass/main.scss';

.form_wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 300px;

   @include mq(tablet) {
    width: 380px;
      align-items: flex-start;
  }
}

.form_title {
   margin: 0;
   font-family: var(--second-font);
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 13.4px;
   text-align: center;
   letter-spacing: 0.04em;
   text-transform: uppercase;
   color: var(--button-orange-color);
   margin-bottom: 60px;
}

.form {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 30px;
   width: 300px;

   @include mq(tablet) {
   width: 100%;
  }
}

.inputs_wrapper {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 40px;

   @include mq(tablet) {
     width: 100%;
      align-items: start;
  }
}

.btn_wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;

   @include mq(tablet) {
   flex-direction: row;
   justify-content: space-between;
  }
}

.input {
   margin: 0;
   padding: 0;
   width: 280px;
   @include mq(tablet) {
    width: 240px;
  }
   height: 35px;
   border: none;
   border-bottom: 1px solid var(--horizontal-row-color);
   margin-bottom: 10px;   
}

.label {
   font-family: var(--main-font);
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: 0.04em;
   color:var(--font-grey-color);
}

.button {
   margin: 0;
   padding: 0;
   width: 176px;
   height: 44px;
   font-family: var(--main-font);
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   letter-spacing: 0.04em;
   color: #ffffff;
   background:var(--button-orange-color);
   box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
   border: 2px solid var(--button-orange-color);
   border-radius: 30px;
   cursor: pointer;
}

.button:first-child {
      margin-bottom: 20px;
      @include mq(tablet) {
    margin-bottom: 0;
  }
   }

.button:active,
.button:focus {
   outline: none;
   background: #ffffff;
   color: var(--button-orange-color);
   box-sizing: border-box;
   box-shadow: none;
}

.alert {
   // height: 40px;
   font-family: var(--main-font);
   font-style: normal;   
   font-size: 14px;
   line-height: 17px;
   letter-spacing: 0.04em;
   color: red;

}

.message {   
   font-family: var(--main-font);
   font-style: normal;   
   font-size: 20px;
   line-height: 24px;
   letter-spacing: 0.05em;
   color: green;
}

.message_confirm {
   font-family: var(--main-font);
   font-style: normal;   
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 0.05em;
   color: rgb(0, 58, 0);
}

