@import "../../sass/main.scss";

.rightSideBarWrapper {
  padding-bottom: 84px;
}
.rightSideBarCalories,
.rightSideBarCategories {
  width: 280px;
}

.rightSideBarHeader {
  font-weight: 700;
  line-height: 1.21;
}

.rightSideBarInfo {
  font-weight: 400;
  line-height: 1.21;
  color: #9b9faa;
}

p.rightSideBarInfo::first-letter {
  text-transform: capitalize;
}

.rightSideBarItem {
  display: flex;
  justify-content: space-between;
}

p.rightSideBarInfo {
  height: 150px;
  overflow-y: auto;
  margin-top: 20px;
}

.rightSideBarItem:not(:first-child) {
  margin-top: 25px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .rightSideBarCategories {
    margin-top: 40px;
  }
}

@include mq(tablet) {
  .rightSideBarWrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 91px;
  }
}

@include mq(desktop) {
  .rightSideBarCategories {
    margin-top: 20px;

  }
  .rightSideBarWrapper {
    height: 450px;
    max-width: 500px;
    flex-direction: column;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
.rightSideBarData {
  margin-top: 20px;
}
.rightSideBarDecoration {
  @include mq(desktop) {
    background-color: #f0f1f3;
    display: block;
    position: absolute;
    right: 0;
    z-index: -1;
    height: 115vh;
    // height: 100%;
    width: 35vw;
    top: 0px;
    right: 0;
  }
}
