@import "../../sass/main.scss";

.mainBox {
    display: flex;
    justify-content: space-evenly;
    padding-top: 150px;
}

.diaryBox {
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    min-width: 280px;
    margin-bottom: 40px;
  
    @include mq(tablet) {
      width: 600px;
      align-items: flex-start;
      margin-bottom: 80px;
    }
    @include mq(desktop) {
      width: 730px;
     
    }
}

.backgroundMedium {
    display: none;
    @include mq( tablet-only) {
        background-color: #F0F1F3; 
        width: 100vw;
        height:40vh;
      display: block;
      position: absolute;      
      bottom: -100px;
      right: 0;
      z-index: -1;
    }
  }
  .backgroundBig {
    display: none;
    @include mq(desktop) {
      display: block;
      position: absolute;
      width: 30vw;
      height: 100vh;      
      top: 0px;
      right: 0;
      z-index: -1;
    }
  }