@import "../../sass/main.scss";

.mainBox {
    display: flex;
    justify-content: space-evenly;
    padding-top: 150px;
}

.diaryBox {
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    min-width: 280px;
    margin-bottom: 40px;
  
    @include mq(tablet) {
      width: 600px;
      align-items: flex-start;
      margin-bottom: 80px;
    }
    @include mq(desktop) {
      width: 730px;
     
    }
}