@import "../../sass/main.scss";

// Modal styles below
.modalMainBlock {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 84px;
  height: 100%;
  background-color: grey;
}

.modalCloseBtnBar {
  width: 100%;
  background-color: green;
  height: 90px;
}

.modalCloseBtn {
  background-color: red;
  border: 0;
}
.modalCloseModalIconSmall {
  // display: none;
  @include mq(tablet) {
    display: none;
  }
}
.modalCloseModalIconCommon {
  display: none;
  @include mq(tablet) {
    display: block;
  }
}
