@import '../../../sass/main.scss';

.button {
   margin: 0;
   padding: 0;
   width: 176px;
   height: 44px;
   font-family: var(--main-font);
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   letter-spacing: 0.04em;
   color: #ffffff;
   background:var(--button-orange-color);
   box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
   border: 2px solid var(--button-orange-color);
   border-radius: 30px;
   cursor: pointer;
}

.button:first-child {
      margin-bottom: 20px;
      @include mq(tablet) {
    margin-bottom: 0;
  }
   }

.button:active,
.button:focus {
   outline: none;
   background: #ffffff;
   color: var(--button-orange-color);
   box-sizing: border-box;
   box-shadow: none;
}
